.navbar
    background-color: #3c3c3c
    border-bottom: 1px solid rgb(48, 63, 159)
    & .nav-center
        margin: auto
        display: flex
        width: 30rem
        padding: 1rem
        & .nav-item
            margin-right: 2rem
            & a
                font-size: 1.5rem
                text-decoration: none
                color: black

Button
    width: 7rem

.modal-nameJson
    a 
        color: white
        text-decoration: none
        &:hover
            color: black
            